@page "/checkout"


<div class="main">
    <EditForm Model="OrderState.Order.DeliveryAddress" OnValidSubmit="PlaceOrder">
        <div class="checkout-cols">
            <div class="checkout-order-details">
                <h4>Revisar la orden</h4>
                <OrderReview Order="OrderState.Order"></OrderReview>

            </div>
            <div>
                <h4>Enviar a....</h4>
                <AddressEditor Address="OrderState.Order.DeliveryAddress" />

            </div>

        </div>
        <button type="submit" class="checkout-button btn btn-warning" id="btnAceptar" disabled=@IsTaskRunning>
            Aceptar la orden
        </button>

        <DataAnnotationsValidator />
    </EditForm>
  
</div>


