<div class="form-field">
    <lable>Nombre:</lable>
    <div>
        <InputText @bind-Value="Address.Name" />
        <ValidationMessage For="()=>Address.Name"/>
    </div>
</div>
<div class="form-field">
    <lable>Linea1:</lable>
    <div>
        <InputText @bind-Value="Address.Line1" />
        <ValidationMessage For="()=>Address.Line1" />
    </div>
</div>
<div class="form-field">
    <lable>Linea2:</lable>
    <div>
        <InputText @bind-Value="Address.Line2" />
        <ValidationMessage For="()=>Address.Line2" />
    </div>
</div>
<div class="form-field">
    <lable>Ciudad:</lable>
    <div>
        <InputText @bind-Value="Address.City" />
        <ValidationMessage For="()=>Address.City" />
    </div>
</div>
<div class="form-field">
    <lable>Barrio:</lable>
    <div>
        <InputText @bind-Value="Address.Region" />
        <ValidationMessage For="()=>Address.Region" />
    </div>
</div>
<div class="form-field">
    <lable>Codigo Postal:</lable>
    <div>
        <InputText @bind-Value="Address.PostalCode" />
        <ValidationMessage For="()=>Address.PostalCode" />
    </div>
</div>


@code {

    [Parameter]
    public Address Address { get; set; }

}
